Repository Team-Jemini/Trippy-BE, pull requests merged in 2025-08, with the labels that each got.

#20 [FEAT] DB 구조 DDL 작성
  trippy-server/database.sql
  trippy-server/dummy.sql
Labels: Project Setting

#37 [FEAT] 신분증 OCR 연동 (#27)
  trippy-server/src/main/java/org/scoula/common/exception/enums/ErrorCode.java
  trippy-server/src/main/java/org/scoula/common/exception/enums/SuccessCode.java
  trippy-server/src/main/java/org/scoula/common/exception/model/ServerErrorException.java
  trippy-server/src/main/java/org/scoula/config/RootConfig.java
  trippy-server/src/main/java/org/scoula/controller/identification/ResidentCardController.java
  trippy-server/src/main/java/org/scoula/controller/identification/dto/ResidentCardInquiryDTO.java
  trippy-server/src/main/java/org/scoula/controller/user/UserController.java
  trippy-server/src/main/java/org/scoula/external/codef/identification/OcrService.java
  trippy-server/src/main/java/org/scoula/external/codef/identification/dto/OcrResponseDTO.java
Labels: identification

#31 [FEAT] 모임계좌 생성 및 모임주 등록 API (#21)
  trippy-server/build.gradle
  trippy-server/dummy.sql
  trippy-server/src/main/java/org/scoula/common/exception/enums/ErrorCode.java
  trippy-server/src/main/java/org/scoula/common/exception/enums/SuccessCode.java
  trippy-server/src/main/java/org/scoula/config/JacksonConfig.java
  trippy-server/src/main/java/org/scoula/controller/groupAccount/GroupAccountController.java
  trippy-server/src/main/java/org/scoula/controller/groupAccount/dto/request/GroupAccountCreateRequestDTO.java
  trippy-server/src/main/java/org/scoula/controller/groupAccount/dto/response/GroupAccountCreateResponseDTO.java
  trippy-server/src/main/java/org/scoula/mapper/account/group/GroupAccountMapper.java
  trippy-server/src/main/java/org/scoula/service/groupaccount/AccountConverter.java
  trippy-server/src/main/java/org/scoula/service/groupaccount/GroupAccountService.java
  trippy-server/src/main/resources/org/scoula/mapper/account/group/GroupAccountMapper.xml
Labels: groupAccount

#39 [FEAT] 모임계좌 초대 주소 생성 API (#32)
  trippy-server/build.gradle
  trippy-server/src/main/java/org/scoula/common/exception/enums/ErrorCode.java
  trippy-server/src/main/java/org/scoula/common/exception/enums/SuccessCode.java
  trippy-server/src/main/java/org/scoula/common/util/JwtTokenUtil.java
  trippy-server/src/main/java/org/scoula/controller/groupAccount/GroupAccountController.java
  trippy-server/src/main/java/org/scoula/controller/groupAccount/dto/request/AcceptInviteTokenRequestDTO.java
  trippy-server/src/main/java/org/scoula/controller/groupAccount/dto/request/InviteRequestDTO.java
  trippy-server/src/main/java/org/scoula/controller/groupAccount/dto/response/AcceptInviteResponseDTO.java
  trippy-server/src/main/java/org/scoula/controller/groupAccount/dto/response/InviteResponseDTO.java
  trippy-server/src/main/java/org/scoula/mapper/account/group/GroupAccountMapper.java
  trippy-server/src/main/java/org/scoula/service/groupaccount/InviteService.java
  trippy-server/src/main/resources/org/scoula/mapper/account/group/GroupAccountMapper.xml
Labels: groupAccount

#50 [FEAT] 숙소 상세조회 (#29)
  trippy-server/src/main/java/org/scoula/common/exception/enums/ErrorCode.java
  trippy-server/src/main/java/org/scoula/common/exception/enums/SuccessCode.java
  trippy-server/src/main/java/org/scoula/controller/voucher/VoucherController.java
  trippy-server/src/main/java/org/scoula/controller/voucher/dto/response/AccommodationDetailDto.java
  trippy-server/src/main/java/org/scoula/controller/voucher/dto/response/AccommodationInfo.java
  trippy-server/src/main/java/org/scoula/controller/voucher/dto/response/SightSeeingInfo.java
  trippy-server/src/main/java/org/scoula/domain/voucher/AccommodationVO.java
  trippy-server/src/main/java/org/scoula/domain/voucher/SightseeingVO.java
  trippy-server/src/main/java/org/scoula/mapper/user/UserMapper.java
  trippy-server/src/main/java/org/scoula/mapper/voucher/AccommodationMapper.java
  trippy-server/src/main/java/org/scoula/service/user/UserService.java
  trippy-server/src/main/java/org/scoula/service/voucher/VoucherService.java
  trippy-server/src/main/resources/org/scoula/mapper/user/UserMapper.xml
  trippy-server/src/main/resources/org/scoula/mapper/voucher/AccommodationMapper.xml
  trippy-server/src/main/resources/org/scoula/mapper/voucher/SightseeingMapper.xml
Labels: Accommodation

#45 [FEAT] 주민등록증 조회(#38)
  trippy-server/database.sql
  trippy-server/src/main/java/org/scoula/common/exception/enums/SuccessCode.java
  trippy-server/src/main/java/org/scoula/controller/identification/ResidentCardController.java
  trippy-server/src/main/java/org/scoula/controller/identification/dto/ResidentCardDTO.java
  trippy-server/src/main/java/org/scoula/controller/identification/dto/ResidentCardOcrDTO.java
  trippy-server/src/main/java/org/scoula/domain/identification/IdCardVO.java
  trippy-server/src/main/java/org/scoula/external/codef/identification/OcrService.java
  trippy-server/src/main/java/org/scoula/mapper/identification/IdCardMapper.java
  trippy-server/src/main/java/org/scoula/service/identification/ResidentCardService.java
  trippy-server/src/main/resources/org/scoula/mapper/identification/IdCardMapper.xml
Labels: identification

#61 [FEAT] 모임계좌 상세 내역 API (#55)
  trippy-server/dummy.sql
  trippy-server/src/main/java/org/scoula/common/exception/enums/SuccessCode.java
  trippy-server/src/main/java/org/scoula/controller/groupAccount/GroupAccountController.java
  trippy-server/src/main/java/org/scoula/controller/groupAccount/dto/response/AccountTransactionResponseDTO.java
  trippy-server/src/main/java/org/scoula/controller/groupAccount/dto/response/GroupAccountDetailResponseDTO.java
  trippy-server/src/main/java/org/scoula/domain/account/group/GroupAccountVO.java
  trippy-server/src/main/java/org/scoula/domain/transaction/TransactionVO.java
  trippy-server/src/main/java/org/scoula/mapper/account/group/GroupAccountMapper.java
  trippy-server/src/main/java/org/scoula/mapper/transaction/TransactionMapper.java
  trippy-server/src/main/java/org/scoula/service/groupaccount/AccountConverter.java
  trippy-server/src/main/java/org/scoula/service/groupaccount/GroupAccountService.java
  trippy-server/src/main/java/org/scoula/service/groupaccount/InviteService.java
  trippy-server/src/main/resources/org/scoula/mapper/account/group/GroupAccountMapper.xml
  trippy-server/src/main/resources/org/scoula/mapper/transaction/TransactionMapper.xml
Labels: groupAccount

#64 [FEAT] 모임계좌 멤버 조회 API (#58)
  trippy-server/src/main/java/org/scoula/common/exception/enums/SuccessCode.java
  trippy-server/src/main/java/org/scoula/controller/groupAccount/GroupAccountController.java
  trippy-server/src/main/java/org/scoula/controller/groupAccount/dto/response/GroupAccountMemberResponseDTO.java
  trippy-server/src/main/java/org/scoula/domain/account/member/AccountMemberVO.java
  trippy-server/src/main/java/org/scoula/mapper/account/member/AccountMemberMapper.java
  trippy-server/src/main/java/org/scoula/service/groupaccount/MemberService.java
  trippy-server/src/main/resources/org/scoula/mapper/account/member/AccountMemberMapper.xml
Labels: groupAccount

#66 [FEAT] 모임계좌 정산 요청 API (#65)
  trippy-server/src/main/java/org/scoula/common/exception/enums/ErrorCode.java
  trippy-server/src/main/java/org/scoula/common/exception/enums/SuccessCode.java
  trippy-server/src/main/java/org/scoula/controller/groupAccount/GroupAccountController.java
  trippy-server/src/main/java/org/scoula/controller/groupAccount/dto/request/SettlementMembersListRequstDTO.java
  trippy-server/src/main/java/org/scoula/controller/groupAccount/dto/request/SettlementRequestDTO.java
  trippy-server/src/main/java/org/scoula/mapper/account/group/GroupAccountMapper.java
  trippy-server/src/main/java/org/scoula/mapper/account/member/AccountMemberMapper.java
  trippy-server/src/main/java/org/scoula/service/groupaccount/GroupAccountService.java
  trippy-server/src/main/resources/org/scoula/mapper/account/group/GroupAccountMapper.xml
  trippy-server/src/main/resources/org/scoula/mapper/account/member/AccountMemberMapper.xml
Labels: groupAccount

#77 [FEAT] 카드 설정 API (#68)
  trippy-server/src/main/java/org/scoula/common/exception/enums/ErrorCode.java
  trippy-server/src/main/java/org/scoula/common/exception/enums/SuccessCode.java
  trippy-server/src/main/java/org/scoula/controller/card/CardCommandController.java
  trippy-server/src/main/java/org/scoula/controller/card/CodefTestController.java
  trippy-server/src/main/java/org/scoula/mapper/card/CardMapper.java
  trippy-server/src/main/java/org/scoula/service/card/CardCommandService.java
  trippy-server/src/main/resources/org/scoula/mapper/card/CardMapper.xml
Labels: Payment

#49 [FEAT] Codef 내 계좌 조회 API 연동 및 계좌 데이터 DB 저장 (#18)
  trippy-server/src/main/java/org/scoula/common/exception/enums/ErrorCode.java
  trippy-server/src/main/java/org/scoula/common/exception/enums/SuccessCode.java
  trippy-server/src/main/java/org/scoula/common/util/CodefRsaUtil.java
  trippy-server/src/main/java/org/scoula/config/ServletConfig.java
  trippy-server/src/main/java/org/scoula/controller/account/CodefAccountController.java
  trippy-server/src/main/java/org/scoula/domain/account/AccountVO.java
  trippy-server/src/main/java/org/scoula/external/codef/accounts/dto/ConnectedIdRequestDTO.java
  trippy-server/src/main/java/org/scoula/external/codef/accounts/dto/ConnectedIdRequestDTOList.java
  trippy-server/src/main/java/org/scoula/external/codef/accounts/service/CodefAccountService.java
  trippy-server/src/main/java/org/scoula/mapper/account/AccountMapper.java
  trippy-server/src/main/java/org/scoula/service/account/AccountService.java
  trippy-server/src/main/java/org/scoula/service/groupaccount/AccountConverter.java
  trippy-server/src/main/resources/org/scoula/mapper/account/AccountMapper.xml
Labels: PersonalAccounts

#70 [FEAT] 개인 계좌 상세 및 계좌 거래 내역 필터링 API (#67)
  trippy-server/dummy.sql
  trippy-server/src/main/java/org/scoula/common/exception/enums/SuccessCode.java
  trippy-server/src/main/java/org/scoula/controller/account/AccountController.java
  trippy-server/src/main/java/org/scoula/controller/account/dto/response/PersonalAccountDetailResponseDTO.java
  trippy-server/src/main/java/org/scoula/controller/groupAccount/GroupAccountController.java
  trippy-server/src/main/java/org/scoula/mapper/account/AccountMapper.java
  trippy-server/src/main/java/org/scoula/mapper/account/group/GroupAccountMapper.java
  trippy-server/src/main/java/org/scoula/mapper/transaction/TransactionMapper.java
  trippy-server/src/main/java/org/scoula/service/account/AccountService.java
  trippy-server/src/main/java/org/scoula/service/groupaccount/AccountConverter.java
  trippy-server/src/main/java/org/scoula/service/groupaccount/GroupAccountService.java
  trippy-server/src/main/resources/org/scoula/mapper/account/AccountMapper.xml
  trippy-server/src/main/resources/org/scoula/mapper/account/group/GroupAccountMapper.xml
  trippy-server/src/main/resources/org/scoula/mapper/transaction/TransactionMapper.xml
Labels: PersonalAccounts, groupAccount

#71 [FEAT] 여행 로그 멤버 수 카운트 #48
  trippy-server/src/main/java/org/scoula/controller/travel/log/dto/res/TravelLogDTO.java
  trippy-server/src/main/java/org/scoula/domain/travel/TravelLogVO.java
  trippy-server/src/main/resources/org/scoula/mapper/travel/TravelLogMapper.xml
Labels: TravelLogMember🙌

#91 feat : QR코드 문자열 생성
  trippy-server/build.gradle
  trippy-server/src/main/java/org/scoula/common/exception/enums/ErrorCode.java
  trippy-server/src/main/java/org/scoula/common/exception/enums/SuccessCode.java
  trippy-server/src/main/java/org/scoula/common/util/QrCodeActivationStore.java
  trippy-server/src/main/java/org/scoula/common/util/QrCodeGenerator.java
  trippy-server/src/main/java/org/scoula/controller/card/QrCodeController.java
  trippy-server/src/main/java/org/scoula/controller/card/dto/response/QrCodeResponseDTO.java
  trippy-server/src/main/java/org/scoula/service/card/QrCodeService.java
Labels: Payment

#90 [FEAT] 회원가입, 비밀번호체크 with jwt 토큰 세팅
  trippy-server/build.gradle
  trippy-server/dump.rdb
  trippy-server/src/main/java/org/scoula/common/dto/TokenPair.java
  trippy-server/src/main/java/org/scoula/common/exception/enums/ErrorCode.java
  trippy-server/src/main/java/org/scoula/common/exception/enums/SuccessCode.java
  trippy-server/src/main/java/org/scoula/config/SecurityConfig.java
  trippy-server/src/main/java/org/scoula/config/ServletConfig.java
  trippy-server/src/main/java/org/scoula/config/WebConfig.java
  trippy-server/src/main/java/org/scoula/config/jwt/JwtService.java
  trippy-server/src/main/java/org/scoula/config/jwt/jwtConfig.java
  trippy-server/src/main/java/org/scoula/config/redis/RedisConfig.java
  trippy-server/src/main/java/org/scoula/config/resolver/ArgumentResolverConfig.java
  trippy-server/src/main/java/org/scoula/config/resolver/UserId.java
  trippy-server/src/main/java/org/scoula/config/resolver/UserResolver.java
  trippy-server/src/main/java/org/scoula/config/swagger/MultipartJackson2HttpMessageConverter.java
  trippy-server/src/main/java/org/scoula/config/swagger/SwaggerAuthHeaderFilter.java
  trippy-server/src/main/java/org/scoula/config/swagger/SwaggerConfig.java
  trippy-server/src/main/java/org/scoula/controller/HomeController.java
  trippy-server/src/main/java/org/scoula/controller/card/CardQueryController.java
  trippy-server/src/main/java/org/scoula/controller/groupAccount/GroupAccountController.java
  trippy-server/src/main/java/org/scoula/controller/identification/PassportController.java
  trippy-server/src/main/java/org/scoula/controller/identification/ResidentCardController.java
  trippy-server/src/main/java/org/scoula/controller/user/UserController.java
  trippy-server/src/main/java/org/scoula/controller/user/dto/request/CheckPasswordDTO.java
  trippy-server/src/main/java/org/scoula/controller/user/dto/request/SignUpDTO.java
  trippy-server/src/main/java/org/scoula/controller/user/dto/request/TokenRequestDto.java
  trippy-server/src/main/java/org/scoula/controller/user/dto/request/UserRegisterDTO.java
  trippy-server/src/main/java/org/scoula/controller/voucher/VoucherController.java
  trippy-server/src/main/java/org/scoula/mapper/user/UserMapper.java
  trippy-server/src/main/java/org/scoula/service/user/UserService.java
  trippy-server/src/main/java/org/scoula/service/voucher/VoucherService.java
  trippy-server/src/main/resources/org/scoula/mapper/user/UserMapper.xml
Labels: JWT

#82 [FEAT] 환율 목록 출력 및 환전 전반부 기능 (#34)
  trippy-server/database.sql
  trippy-server/dummy.sql
  trippy-server/dump.rdb
  trippy-server/src/main/java/org/scoula/common/exception/enums/SuccessCode.java
  trippy-server/src/main/java/org/scoula/controller/account/dto/response/AccountDTO.java
  trippy-server/src/main/java/org/scoula/controller/exchange/ExchangeController.java
  trippy-server/src/main/java/org/scoula/controller/exchange/dto/response/AccountListDTO.java
  trippy-server/src/main/java/org/scoula/domain/exchange/AccountListVO.java
  trippy-server/src/main/java/org/scoula/domain/exchange/ForeignAccountBalanceVO.java
  trippy-server/src/main/java/org/scoula/external/exchange/ExchangeRateAPIService.java
  trippy-server/src/main/java/org/scoula/external/exchange/dto/ExchangeRateApiDTO.java
  trippy-server/src/main/java/org/scoula/mapper/exchange/ExchangeRateMapper.java
  trippy-server/src/main/java/org/scoula/service/exchange/ExchangeRateService.java
  trippy-server/src/main/resources/org/scoula/mapper/exchange/ExchangeRateMapper.xml
Labels: exchangeRate

#92 [REFACTOR] Codef 계좌 조회 API 리팩토링 (#89)
  trippy-server/src/main/java/org/scoula/common/exception/enums/SuccessCode.java
  trippy-server/src/main/java/org/scoula/controller/account/AccountController.java
  trippy-server/src/main/java/org/scoula/controller/account/CodefAccountController.java
  trippy-server/src/main/java/org/scoula/controller/account/dto/request/AccountRegisterDTO.java
  trippy-server/src/main/java/org/scoula/controller/account/dto/request/AccountRequestDTO.java
  trippy-server/src/main/java/org/scoula/controller/account/dto/response/AccountDTO.java
  trippy-server/src/main/java/org/scoula/controller/account/dto/response/AccountResponseDTO.java
  trippy-server/src/main/java/org/scoula/domain/account/AccountVO.java
  trippy-server/src/main/java/org/scoula/service/account/AccountService.java
  trippy-server/src/main/java/org/scoula/service/transfer/TransferService.java
Labels: PersonalAccounts

#98 [FIX] 계좌 목록 조회 로직 수정 (#88)
  trippy-server/src/main/java/org/scoula/mapper/exchange/ExchangeRateMapper.java
  trippy-server/src/main/java/org/scoula/service/exchange/ExchangeRateService.java
  trippy-server/src/main/resources/org/scoula/mapper/exchange/ExchangeRateMapper.xml
Labels: exchangeRate

#107 [REFACTOR] 모임계좌 상세조회 API 반환 데이터 추가(#106)
  trippy-server/src/main/java/org/scoula/controller/groupAccount/dto/response/GroupAccountDetailResponseDTO.java
  trippy-server/src/main/java/org/scoula/service/groupaccount/AccountConverter.java
  trippy-server/src/main/resources/org/scoula/mapper/account/group/GroupAccountMapper.xml
Labels: groupAccount

#108 [FEAT] gradle.yml 생성
  .github/workflows/gradle.yml
Labels: CICD

#110 [FEAT} 회원가입 로직 오류 해결 및 전체 유저 토큰 생성 api 개발 (#95)
  trippy-server/src/main/java/org/scoula/common/exception/enums/SuccessCode.java
  trippy-server/src/main/java/org/scoula/config/jwt/JwtService.java
  trippy-server/src/main/java/org/scoula/controller/user/UserController.java
  trippy-server/src/main/java/org/scoula/controller/user/dto/request/AllUsersTokenDTO.java
  trippy-server/src/main/java/org/scoula/mapper/user/UserMapper.java
  trippy-server/src/main/java/org/scoula/service/user/UserService.java
  trippy-server/src/main/resources/org/scoula/mapper/user/UserMapper.xml
Labels: JWT

#112 [FIX] gradle.yml 수정
  .github/workflows/gradle.yml
Labels: CICD

#114 [FEAT] gradle-publish.yml 생성
  .github/workflows/gradle-publish.yml
Labels: CICD

#119 [DOCS] Swagger 문서 구체화 (#95)
  trippy-server/src/main/java/org/scoula/config/RootConfig.java
  trippy-server/src/main/java/org/scoula/controller/account/AccountController.java
  trippy-server/src/main/java/org/scoula/controller/account/dto/request/AccountRequestDTO.java
  trippy-server/src/main/java/org/scoula/controller/card/CardCommandController.java
  trippy-server/src/main/java/org/scoula/controller/card/CardQueryController.java
  trippy-server/src/main/java/org/scoula/controller/card/CodefTestController.java
  trippy-server/src/main/java/org/scoula/controller/card/QrCodeController.java
  trippy-server/src/main/java/org/scoula/controller/exchange/ExchangeController.java
  trippy-server/src/main/java/org/scoula/controller/groupAccount/GroupAccountController.java
  trippy-server/src/main/java/org/scoula/controller/groupAccount/dto/request/AcceptInviteTokenRequestDTO.java
  trippy-server/src/main/java/org/scoula/controller/groupAccount/dto/request/GroupAccountCreateRequestDTO.java
  trippy-server/src/main/java/org/scoula/controller/groupAccount/dto/request/GroupAccountJoinRequestDTO.java
  trippy-server/src/main/java/org/scoula/controller/groupAccount/dto/request/InviteRequestDTO.java
  trippy-server/src/main/java/org/scoula/controller/groupAccount/dto/request/SettlementMembersListRequstDTO.java
  trippy-server/src/main/java/org/scoula/controller/groupAccount/dto/request/SettlementRequestDTO.java
  trippy-server/src/main/java/org/scoula/controller/identification/PassportController.java
  trippy-server/src/main/java/org/scoula/controller/identification/ResidentCardController.java
  trippy-server/src/main/java/org/scoula/controller/identification/dto/PassportDTO.java
  trippy-server/src/main/java/org/scoula/controller/identification/dto/req/PassportReq.java
  trippy-server/src/main/java/org/scoula/controller/identification/dto/req/ResidentCardReq.java
  trippy-server/src/main/java/org/scoula/controller/transfer/TransferController.java
  trippy-server/src/main/java/org/scoula/controller/transfer/dto/request/TransferRequestDTO.java
  trippy-server/src/main/java/org/scoula/controller/travel/log/TravelLogController.java
  trippy-server/src/main/java/org/scoula/controller/travel/report/TravelReportController.java
  trippy-server/src/main/java/org/scoula/controller/user/UserController.java
  trippy-server/src/main/java/org/scoula/controller/user/dto/request/CheckPasswordDTO.java
  trippy-server/src/main/java/org/scoula/controller/user/dto/request/TokenRequestDto.java
  trippy-server/src/main/java/org/scoula/controller/user/dto/response/AllUsersTokenDTO.java
  trippy-server/src/main/java/org/scoula/controller/voucher/AirTicketController.java
  trippy-server/src/main/java/org/scoula/controller/voucher/VoucherController.java
  trippy-server/src/main/java/org/scoula/domain/exchange/ExchangeRequest.java
  trippy-server/src/main/java/org/scoula/domain/identification/PassportVO.java
  trippy-server/src/main/java/org/scoula/service/exchange/ExchangeRateService.java
  trippy-server/src/main/java/org/scoula/service/user/UserService.java
Labels: Swagger

#122 [FIX] 알람 일자 리턴 (#113)
  trippy-server/src/main/java/org/scoula/controller/notification/request/NotiDTO.java
  trippy-server/src/main/resources/org/scoula/mapper/notification/NotificationMapper.xml
Labels: notification

#118 [FEAT] 카드 이미지 연동 api
  trippy-server/src/main/java/org/scoula/service/card/CodefCardService.java
  trippy-server/src/main/resources/org/scoula/mapper/card/CardMapper.xml
Labels: Payment

#123 [FEAT] @UserId 어노테이션 전체 적용 및, 500에서 콘솔에 찍히도록 수정 (#101)
  trippy-server/src/main/java/org/scoula/common/exception/GlobalExceptionHandler.java
  trippy-server/src/main/java/org/scoula/config/resolver/UserResolver.java
  trippy-server/src/main/java/org/scoula/controller/account/AccountController.java
  trippy-server/src/main/java/org/scoula/controller/card/CardCommandController.java
  trippy-server/src/main/java/org/scoula/controller/card/CardQueryController.java
  trippy-server/src/main/java/org/scoula/controller/card/CodefTestController.java
  trippy-server/src/main/java/org/scoula/controller/card/QrCodeController.java
  trippy-server/src/main/java/org/scoula/controller/exchange/ExchangeController.java
  trippy-server/src/main/java/org/scoula/controller/groupAccount/GroupAccountController.java
  trippy-server/src/main/java/org/scoula/controller/identification/PassportController.java
  trippy-server/src/main/java/org/scoula/controller/identification/ResidentCardController.java
  trippy-server/src/main/java/org/scoula/controller/notification/NotificationController.java
  trippy-server/src/main/java/org/scoula/controller/transfer/TransferController.java
  trippy-server/src/main/java/org/scoula/controller/travel/log/TravelLogController.java
  trippy-server/src/main/java/org/scoula/controller/travel/report/TravelReportController.java
  trippy-server/src/main/java/org/scoula/controller/user/UserController.java
  trippy-server/src/main/java/org/scoula/controller/voucher/AirTicketController.java
  trippy-server/src/main/java/org/scoula/controller/voucher/VoucherController.java
Labels: JWT

#128 [FEAT] 여행 로그의 전체 지출 내역 조회 (#75)
  trippy-server/src/main/java/org/scoula/common/exception/GlobalExceptionHandler.java
  trippy-server/src/main/java/org/scoula/common/exception/enums/SuccessCode.java
  trippy-server/src/main/java/org/scoula/controller/travel/log/TravelLogController.java
  trippy-server/src/main/java/org/scoula/controller/travel/log/dto/req/TravelLogTransactionDTO.java
  trippy-server/src/main/java/org/scoula/controller/travel/log/dto/req/TravelLogTransactionListDTO.java
  trippy-server/src/main/java/org/scoula/mapper/transaction/TransactionMapper.java
  trippy-server/src/main/java/org/scoula/mapper/travel/TravelLogMapper.java
  trippy-server/src/main/java/org/scoula/service/transaction/TransactionService.java
  trippy-server/src/main/java/org/scoula/service/travel/TravelLogService.java
  trippy-server/src/main/resources/org/scoula/mapper/transaction/TransactionMapper.xml
  trippy-server/src/main/resources/org/scoula/mapper/travel/TravelLogMapper.xml
Labels: newTravelLog

#134 [FEAT] 디스코드 에러 로깅 (#4)
  trippy-server/src/main/java/org/scoula/common/exception/DiscordNotificationService.java
  trippy-server/src/main/java/org/scoula/common/exception/GlobalExceptionHandler.java
  trippy-server/src/main/java/org/scoula/config/discord/AsyncConfig.java
  trippy-server/src/main/java/org/scoula/config/discord/HttpClientConfig.java
  trippy-server/src/main/java/org/scoula/controller/HomeController.java
  trippy-server/src/main/java/org/scoula/domain/account/AccountVO.java
  trippy-server/src/main/resources/log4j2.xml
Labels: discord, ErrorLoging

#133 [fix] 계좌목록 조회 API 쿼리문 수정
  trippy-server/src/main/java/org/scoula/controller/exchange/dto/response/ExchangeChangeRateDTO.java
  trippy-server/src/main/java/org/scoula/service/exchange/ExchangeRateService.java
  trippy-server/src/main/resources/org/scoula/mapper/exchange/ExchangeRateMapper.xml
Labels: exchangeRate

#136 [FEAT] 여행 로그 생성 시 유효한 날짜인지 확인 (#127)
  trippy-server/src/main/java/org/scoula/common/exception/enums/ErrorCode.java
  trippy-server/src/main/java/org/scoula/common/exception/enums/SuccessCode.java
  trippy-server/src/main/java/org/scoula/controller/travel/log/TravelLogController.java
  trippy-server/src/main/java/org/scoula/mapper/travel/TravelLogMapper.java
  trippy-server/src/main/java/org/scoula/service/travel/TravelLogService.java
  trippy-server/src/main/resources/org/scoula/mapper/travel/TravelLogMapper.xml
Labels: newTravelLog

#151 [FEAT] 홈화면 필요한 환율 데이터 조회 (#150)
  trippy-server/src/main/java/org/scoula/common/exception/enums/ErrorCode.java
  trippy-server/src/main/java/org/scoula/controller/exchange/ExchangeController.java
  trippy-server/src/main/java/org/scoula/controller/exchange/dto/ExchangeRateDTO.java
  trippy-server/src/main/java/org/scoula/controller/transfer/dto/request/ExchangeRequestDTO.java
  trippy-server/src/main/java/org/scoula/mapper/exchange/ExchangeRateMapper.java
  trippy-server/src/main/java/org/scoula/service/exchange/ExchangeRateService.java
  trippy-server/src/main/resources/org/scoula/mapper/exchange/ExchangeRateMapper.xml
Labels: exchangeRate

#152 [FEAT] 결제 QR코드 api 연동
  trippy-server/src/main/java/org/scoula/common/util/QrCodeGenerator.java
Labels: Payment

#144 [FEAT] OCR 변경 (#139)
  trippy-server/src/main/java/org/scoula/controller/identification/ResidentCardController.java
  trippy-server/src/main/java/org/scoula/external/codef/identification/OcrService.java
  trippy-server/src/main/java/org/scoula/external/naver/identification/NaverOcrService.java
  trippy-server/src/main/java/org/scoula/external/naver/identification/dto/IdCardDTO.java
Labels: identification

#143 [FEAT] 여행 로그 생성 로직 수정 #142
  trippy-server/src/main/java/org/scoula/mapper/account/member/AccountMemberMapper.java
  trippy-server/src/main/java/org/scoula/mapper/travel/TravelLogMapper.java
  trippy-server/src/main/java/org/scoula/service/travel/TravelLogService.java
  trippy-server/src/main/resources/org/scoula/mapper/account/member/AccountMemberMapper.xml
  trippy-server/src/main/resources/org/scoula/mapper/travel/TravelLogMapper.xml
Labels: newTravelLog

#156 [FEAT] 모임계좌 정산시 입금받는 내역 카테고리 수정
  trippy-server/src/main/java/org/scoula/domain/transaction/TransactionVO.java
Labels: groupAccount

#162 [FEAT] 내 계좌중 여행계좌 존재 여부 판단 (#161)
  trippy-server/src/main/java/org/scoula/controller/travel/log/TravelLogController.java
  trippy-server/src/main/java/org/scoula/mapper/travel/TravelLogMapper.java
  trippy-server/src/main/java/org/scoula/service/travel/TravelLogService.java
  trippy-server/src/main/resources/org/scoula/mapper/travel/TravelLogMapper.xml
Labels: groupAccount

#164 [FIX] OCR HTTP 메서드 변경
  trippy-server/src/main/java/org/scoula/controller/identification/ResidentCardController.java
Labels: identification

#166 [FEAT] 유효한 모임통장 존재 여부 확인 API 리턴 형식 수정 #165
  trippy-server/src/main/java/org/scoula/common/exception/enums/SuccessCode.java
  trippy-server/src/main/java/org/scoula/controller/travel/log/TravelLogController.java
Labels: groupAccount

#175 [FEAT] health 체크
  trippy-server/src/main/java/org/scoula/controller/health/HealthController.java
Labels: identification
